.site-header{
  margin: auto;
  text-align: center;
  font-family: Arial sans-serif;
  color= #0f0f0f;
}

.site-header p{
  font-style: italic;
}

.profile-pic{
  display: block;
  max-width:600px;
  min-width: 300px;
  margin: auto;
}
