html{
 width: 100%;
 height: 100%;
 margin: 0;
 font-family: Arial;
}

.site-header{
  margin: auto;
  text-align: center;
}

.site-header p{
  font-style: italic;
  color: #a055AA;
  font-size: 1em;
  margin-top: -2px;
}

.site-header img{
 width: auto;
 margin: auto;
 padding: 5px;
 display: block;
 max-width: 100vw;
 min-width: 100vw;
 margin: auto;
}

.profile-pic{
  display: block;
  max-width: 100vw;
  min-width: 100vw;
  margin: auto;
}

.site-index{
 display: flex;
 justify-content: space-evenly;
 background-color: #211d14;
 color: #8ed3e8;
 padding: 15px;
 width: 100vw;
}

.site-index span:hover{
 background-color: #8ed3e8; 
 color: #211d14;
}

.site-index a{
  font-style: initial;
}

.profile-div p{
  text-align: center;
}

.portfo h1{
  text-align: left;
  background-color: #8ed3e8;
  width: auto;
  padding: 5px;
}

.portfo div{
  background-color: #a055aa;
  width: 50vw;
  margin: auto;
}
